<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-9">
    <br><br><br><br><br><br><br>
    <title>Odd Jobs Website Log in</title>
    <center><font size="20" color="red">Log into the Odd Jobs Website</font></center> <br>
</head>
<body>
<center><font size="5">Welcome back to our odd jobs website! <br> </font> <br>

<font size="5"><strong>
Username: <br>
    <input type="text"><br> <br>
Password: <br>
    <input type="text"><br> <br>
Log in! <a href="View_jobs_offered.html">[click here]</a><br>
Forgot your username? <a href="AbuseReporting.html">[click here]</a>
</strong></font></center>
</body>
</html>

