<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        h1 {color: TURQUOISE;}

    </style>
    <meta charset="UTF-8">
    <title>All Jobs</title>
</head>
<body>
<a href= "homepage.html" >Homepage</a>
<font align="right">{username}</font> <br>
<h1>All Jobs</h1>

 {% extends "layout.html" %}
{% block body %}
{{Jobs}}

<table border="1" width="200">
    <tr>
        <th>Jobs</th>
        <th>Job posters</th>
    </tr>
    {% for job in jobs %}
      <tr>
          <td>{{ jobs }}</td>
          <td>{{ job.posters }}</td>
      </tr>
    {% endfor %}
</table>
{% endblock %}

<h2>Search for jobs</h2>
<form>

<input type="text" name="search" placeholder="Search..">
</form>



</body>
</html>

