<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>States Game</title>
</head>
<body background="https://media.tenor.co/images/b646e28dbe1a20f117a34ccaf3a5f91e/raw">
<form action="/letter">
<font color="00FFFF" size="900"> Enter a single letter:</font> <input type="text" name="user_letter">
  <input type="submit" value="Go!">
</form>
<font color="00FFFF" size="900">These states start with the letter {{user_letter}}:</font>
<br>
<font color="00FFFF" size="900">{{list_of_states}}</font>
<img style="float: right" height="250px" width="250" src="https://cdn.shopify.com/s/files/1/1061/1924/files/Hugging_Face_Emoji_2028ce8b-c213-4d45-94aa-21e1a0842b4d_large.png?15202324258887420558" hspace="250">
</body>
</html>
